<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>


  <appSettings>

    <!--Server URL:PORT -->
    <add key="ServerAddress" value="http://localhost:1312" />

    <!--Remove Receiver Channel -->
    <add key="ReceiverChannel" value="0" />

    <!--Remove Receiver Password -->
    <add key="ReceiverPassword" value="" />
    
  
    <!--To increase the performance of the program, 
    you can capture not the whole screen but only the upper part. 
    This variable specifies what part to capture.
    0.5 - half of the screen. 1 - full screen.-->
    <add key="ScreenHeightFromTop" value="0.4" />

    <!--If the program cpturing too much fps (>60), 
    you can make the delay between frames to reduce CPU load,
    and reduce the number of sent messages.
    This value is the delay in ms.-->
    <add key="CapturingDelay" value="0" />

  </appSettings>
</configuration>
