@model MyNetSensors.WebController.ViewModels.Config.SerialPortViewModel

@{
    Layout = "_EmptyLayout";
    ViewBag.Title = "First Run";
}

<br />
<div class="ui container">

    <h2>@ViewBag.Title</h2>


    <div class="ui ordered steps">
        <div class="active step">
            <div class="content">
                <div class="title">Database</div>
                <div class="description">Configure database</div>
            </div>
        </div>
        <div class=" step">
            <div class="content">
                <div class="title">Gateway</div>
                <div class="description">Connect to gateway</div>
            </div>
        </div>
        <div class=" step">
            <div class="content">
                <div class="title">User</div>
                <div class="description">Create admin profile</div>
            </div>
        </div>
    </div>

    <div class="ui divider"></div>


    <div class="ui two column stackable centered grid">

        <div class="column">
            <div class="ui raised segments">
                <div class="ui secondary attached segment">
                    <h4>Database</h4>
                </div>

                <div class="ui basic segment">
                    <h2 class="ui header">External database</h2>
                </div>



                <div class="ui center aligned attached segment">
                    <a asp-action="DataBase" asp-route-id="Non">Skip this step. Don't use a database yet.</a>
                </div>


            </div>
        </div>

    </div>
</div>


<br />
<br/>
















