@{
    Layout = "_EmptyLayout";
    ViewBag.Title = "First Run";
}

<br />
<div class="ui container">

    <h2>@ViewBag.Title</h2>


    <div class="ui ordered steps">
        <div class="step">
            <div class="content">
                <div class="title">Database</div>
                <div class="description">Configure database</div>
            </div>
        </div>
        <div class="step">
            <div class="content">
                <div class="title">Gateway</div>
                <div class="description">Connect to gateway</div>
            </div>
        </div>
        <div class="step">
            <div class="content">
                <div class="title">User</div>
                <div class="description">Create Admin profile</div>
            </div>
        </div>
    </div>

    <div class="ui divider"></div>


    <div class="ui two column stackable centered grid">

        <div class="column">
            <div class="ui raised segments">
                <div class="ui secondary segment">
                    <h4>@ViewBag.Title</h4>
                </div>


                <div class="ui attached segment">
                    <h2 class="ui header">Welcome to MyNetSensors</h2>

                    This is the initial settings wizard.
                    <br/>
                    You will be offered the following steps:
                    <br />

                    <div class="ui bulleted list">
                        <div class="item">Configure database</div>
                        <div class="item">Connect to gateway</div>
                        <div class="item">Create Admin profile</div>
                    </div>
                </div>

                <div class="ui center aligned attached segment">
                    <div class="ui buttons">
                        <a asp-action="DataBase" class="ui primary button">Well, let's start</a>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>
<br />
<br />















