@model MyNetSensors.WebController.ViewModels.Config.SerialPortViewModel

@{
    Layout = "_EmptyLayout";
    ViewBag.Title = "First Run";
}

<br />
<div class="ui container">

    <h2>@ViewBag.Title</h2>

    <p>
        @*<a asp-controller="Config" asp-action="Gateway">Gateway</a> |
            <a asp-controller="Config" asp-action="SerialPort">Serial Port</a>*@
    </p>
    <div class="ui divider"></div>


</div>

















