@{
    Layout = "_EmptyLayout";
    ViewBag.Title = "First Run";
}

<br />
<div class="ui container">

    <h2>@ViewBag.Title</h2>


    <div class="ui ordered steps">
        <div class="completed step">
            <div class="content">
                <div class="title">Database</div>
                <div class="description">Configure database</div>
            </div>
        </div>
        <div class="completed step">
            <div class="content">
                <div class="title">Gateway</div>
                <div class="description">Connect to gateway</div>
            </div>
        </div>
        <div class="active completed step">
            <div class="content">
                <div class="title">User</div>
                <div class="description">Create admin profile</div>
            </div>
        </div>
    </div>

    <div class="ui divider"></div>


    <div class="ui two column stackable centered grid">

        <div class="column">
            <div class="ui raised segments">
                <div class="ui secondary attached segment">
                    <h4>Admin profile</h4>
                </div>

                <div class="ui attached segment">
                    <h2 class="ui header">User authorization is disabled</h2>
                    User authentication is not available because you are not using a database. 
                    <br />
                    <br />
                    Any user will have full access without authorization.
                    <br />
                    <br/>
                    In addition, without a database, the system will not be able to store the changes.
                    Every time after server restart, you will lose all your changes.
                    <br />

                </div>

                <div class="ui center aligned attached segment">
                    <div class="ui buttons">
                        <a asp-controller="Home" asp-action="Index" class="ui primary button">OK</a>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>


<br />
<br/>
















