@using System.Threading.Tasks
@using MyNetSensors.WebController.ViewModels.NodeEditor
@model List<MyNetSensors.WebController.ViewModels.NodeEditor.NodeDescription>

@{
    ViewBag.Title = "Nodes Description";
    string category="";
}

<br />
<div class="ui container">

    <h2>@ViewBag.Title</h2>

    <div>
       < <a asp-action="Index">Node Editor</a>
    </div>
    <div class="ui divider"></div>


    <div class="ui four column grid" id="nodesContainer">
    </div>


</div>
<br />

<div class="ui text container">
    @foreach (NodeDescription n in Model)
    {
        if (category != n.category)
        {
            category = n.category;
            <br/>
            <br/>
            <h1>@category</h1>
        }
        <h3>@n.type</h3>
        <p>
           @Html.Raw(n.description)
        </p>
    }

</div>


<br />
<br />