@{
    Layout = null;
}

<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN//3.2">
<HTML>
<HEAD>
    <title>MyNodes.NET</title>
</HEAD>
    <FRAMESET cols="400px,*">
        <FRAME name="dashboard" src="/Dashboard/@ViewBag.route" scrolling="AUTO">
        <FRAME name="editor" src="/NodeEditor/@ViewBag.route?split=true" scrolling="AUTO">
    </FRAMESET>
</HTML>




