@{
    ViewBag.Title = "About";
}
<br />

<div class="row">
    <div class="col-md-12">
        <div class="thumbnail">
            <img class="img-responsive" src="~/Content/Images/MyNetSensorsLogo.jpg" alt="" />

        </div>
    </div>
</div>



<h3>Web Controller</h3>
<p>
    <address>
        Source: <a href="https://github.com/derwish-pro/MyNetSensors"> https://github.com/derwish-pro/MyNetSensors</a><br />
        Mail to: <a href="mailto:derwish.pro@gmail.com">derwish.pro@gmail.com</a><br />
    </address>
</p>
