@{
    ViewData["Title"] = "About";
}


<br />
<div class="body-content" style="visibility: hidden;">

    <br />

    <div class="ui container">
        <div class="ui segment">
            <img class="ui fluid image" src="~/images/logos/banner2.png">

        </div>

        <h1>Web Controller</h1>

        <p>
            Version: @ViewBag.Version
        </p
>
        <div class="ui divider"></div>
        Site: <a href="http://MyNetSensors.com"> MyNetSensors.com</a><br />
        Source: <a href="https://github.com/derwish-pro/MyNetSensors"> github.com/derwish-pro/MyNetSensors</a><br />
        Mail to: <a href="mailto:derwish.pro@gmail.com">info@MyNetSensors.com</a><br />


    </div>
</div>

@section scripts
{
    <script>


        $(document).ready(function () {

            //logo animation
            $('.logo-img-home').transition('swing down');
            $('.logo-text-home').transition('fade');

            //body animation
            $('.body-content').transition('fade');
        });


    </script>
}