@{
    ViewData["Title"] = "About";
}
<br />

<div class="row">
    <div class="col-md-12">
        <div class="thumbnail">
            <img class="img-responsive" src="~/images/banner2.png" alt="" />

        </div>
    </div>
</div>



<h3>Web Controller</h3>
<p>
    <address>
        Site: <a href="http://MyNetSensors.com"> MyNetSensors.com</a><br />
        Source: <a href="https://github.com/derwish-pro/MyNetSensors"> github.com/derwish-pro/MyNetSensors</a><br />
        Mail to: <a href="mailto:derwish.pro@gmail.com">info@MyNetSensors.com</a><br />
    </address>
</p>