@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>




<address>
    Source: <a href="https://github.com/derwish-pro/MyNetSensors"> https://github.com/derwish-pro/MyNetSensors</a><br/>
    Mail to: <a href="mailto:derwish.pro@gmail.com">derwish.pro@gmail.com</a><br />
</address>