<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>


  <appSettings>

    <!--Soft Nodes server URL:PORT -->
    <add key="ServerURL" value="http://localhost:13122/" />
    
    <!--If you want the white color will not FFFFFF, 
    but is more appropriate for your lighting, change these values. 
    Each color component will be multiplied by this value.-->
    <add key="RTune" value="1" />
    <add key="GTune" value="0.5" />
    <add key="BTune" value="0.3" />

    <!--To increase the performance of the program, 
    you can capture not the whole screen but only the upper part. 
    This variable specifies what part to capture.
    0.5 - half of the screen. 1 - full screen.-->
    <add key="ScreenHeightFromTop" value="0.4" />

    <!--If the program cpturing too much fps (>60), 
    you can make the delay between frames to reduce CPU load.
    This value is the delay in ms.-->
    <add key="CapturingDelay" value="0" />

    
    
    

  </appSettings>
</configuration>