@using MyNetSensors.Gateways
@model IEnumerable<MyNetSensors.Gateways.Node>

@{
    ViewBag.Title = "Nodes Settings";
}

<br />
<div class="ui container">

    <h2>@ViewBag.Title</h2>

    <p>
        < <a asp-controller="Dashboard" asp-action="Index">Dashboard</a>
    </p>
    <div class="ui divider"></div>

    <h4>Nodes:</h4>
    <div style="padding-left: 20px">
        @foreach (Node node in Model)
        {
            <a asp-action="Settings" asp-route-id="@node.Id">@node.GetSimpleName1()</a>
            <br />
        }
    </div>
    
</div>