@{
    ViewBag.Title = "System Logs";
}

<br />
<div class="ui container">

    <h2>@ViewBag.Title</h2>

    <div>
        <a asp-controller="Logs" asp-action="All">All</a> |
        <a asp-controller="Logs" asp-action="AllErrors">Errors</a> |
        <a asp-controller="Logs" asp-action="Controller">Controller</a> |
        <a asp-controller="Logs" asp-action="Gateway">Gateway</a> |
        <a asp-controller="Logs" asp-action="GatewayMessages">Gateway Messages</a> |
        <a asp-controller="Logs" asp-action="LogicalNodesEngine">Logical Nodes Engine</a> |
        <a asp-controller="Logs" asp-action="LogicalNodes">Logical Nodes</a> |
        <a asp-controller="Logs" asp-action="DataBase">DataBase</a>
    </div>
    <div class="ui divider"></div>

    <div class="ui raised segments">
        <div class="ui secondary clearing segment">
            <b>@ViewBag.PageName</b>
            @if (ViewBag.LogType != "AllErrors")
            {
                <button type="button" class="ui right floated small button" id="clear-log">Clear Log</button>
            }
        </div>
        <div class="ui segment" style="overflow-y: scroll;" id="log">
        </div>

    </div>
    </div>

    @section scripts
{
        <script src="~/js/mysensors.js"></script>
        <script>
            var logType = "@ViewBag.LogType";
        </script>
        <script src="~/js/mynetsensors-logs-page.js"></script>
    }


