@model String

@{
    ViewData["Title"] = "Invalid request";

    string message = Model ?? "Invalid request";
}
<br />
<br />
<br />
<div class="ui container">
    <div class="ui negative message">
        <div class="header">
            Sorry
        </div>
        <p>
            @Html.Raw(message)
        </p>
    </div>
</div>
