
/*scroolbars always visible for smooth animation fades*/
body {
    overflow: -moz-scrollbars-vertical;
    overflow: scroll;
}


/*validation errors red color*/
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}


select.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}





/*semantic ui*/


.nonvisible {
    visibility: hidden;
}


.showsmall {
    display: none;
}

.main.menu .showsmall.item {
    display: none;
}

.main.menu {
    border-radius: 0;
    border: none;
    /*box-shadow: none;*/
    /*transition: box-shadow 0.5s ease, padding 0.5s ease;*/
    font-size: 1.15em;
}

    .main.menu.fixed {
        background-color: #FFFFFF;
        border: 1px solid #DDD;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    }


@media only screen and (max-width: 700px) {


    .big.main.menu .hidesmall.item {
        display: none;
    }

    .big.main.menu .showsmall.item {
        display: block;
    }

    .showsmall {
        display: block;
    }

    .hidesmall {
        display: none;
    }



    .masthead h1.ui.header {
        font-size: 2.2em;
    }

    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.1em;
    }
}






/*main ui elements color*/


.noUi-connect {
    background: #41A5F0;
    /*background: #777;*/
    height: 12px;
}

.switch-input:checked ~ .switch-label {
    background: #41A5F0;
    /*background: #777;*/
}





/*     chart      */

.chart {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.vis-timeline {
    border: 0px;
}

.vis-panel.vis-background.vis-horizontal .vis-grid.vis-minor {
    border-color: #ffffff;
}

.vis-panel.vis-background.vis-horizontal .vis-grid.vis-major {
    border-color: #e5e5e5;
}
