body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 350px;
}


.pull-up {
    margin-top: -20px;
}


.ui-slider {
    margin-top: 30px;
}

.ui-slider-range.ui-widget-header {
    background: #729fcf;
}

.ui-slider .ui-slider-handle {
    background: url("../Content/images/handle.png") no-repeat center center scroll #fff !important;
    background-position: 50% 50%;
    background-size: 18px 18px !important;
    width: 22px;
    height: 22px;
    margin-left: -10px;
    top: -6px;
}

.ui-slider-handle:focus {
    outline-width: 0;
}



/*     chart      */

.chart {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.vis-timeline {
    border: 0px;
}

.vis-panel.vis-background.vis-horizontal .vis-grid.vis-minor {
    border-color: #ffffff;
}

.vis-panel.vis-background.vis-horizontal .vis-grid.vis-major {
    border-color: #e5e5e5;
}

.small-margin {
    margin-bottom: -5px;
    margin-top: -5px;
}

.pull-up-button {
    margin-top: -7px;
}

.bootstrap-switch-handle-on.bootstrap-switch-primary {
  color: #fff;
    background: #729fcf !important;
}
