@{
    ViewBag.Title = "Dashboard";
}

<br />
<div class="ui container">

    <h2>@ViewBag.Title</h2>
    <p>
        <a asp-controller="Dashboard" asp-action="Index">Dashboard</a> |
        <a asp-controller="Gateway" asp-action="Control">Control</a> |
        <a asp-controller="NodesEditor" asp-action="Index">Editor</a> |
        <a asp-controller="History" asp-action="List">History</a> |
        <a asp-controller="Tasks" asp-action="List">Tasks</a> |
        <a asp-controller="Node" asp-action="List">Settings</a>
    </p>
    <div class="ui divider"></div>

    <div class="ui stackable grid" id="panelsContainer" style="display: none;">
    </div>

</div>
<br />


<script id="panelTemplate" type="text/x-handlebars-template">
    <div class="column" id="panel{{this.PanelId}}" style="width:360px; max-width:360px">
        <div class="ui raised segments">

            <div class="ui secondary clearing segment" id="panelTitle{{this.PanelId}}">
                <b>Panel {{this.PanelId}}</b>

                <div class="ui right floated basic disabled button nonbutton">
                    <i class="square outline icon" id="activity{{this.PanelId}}"></i>
                    @*<img src="@Url.Content("~/images/nodes/activity.gif")" id="activity{{this.PanelId}}" class="ui right floated" style="display: none;" />*@
                </div>
            </div>

            <div id="uiContainer{{this.PanelId}}" class="content">
            </div>
        </div>
    </div>
</script>




<script id="labelTemplate" type="text/x-handlebars-template">
    <div class="ui attached clearing segment" id="node{{this.Id}}">
        @*span needed to prevent marign for first and last labels*@
        <span></span>
        <span class="ui right floated" id="labelName-{{this.Id}}"></span>
        <div class="ui right floated basic disabled button nonbutton">
            <span class="ui blue basic label" id="labelValue-{{this.Id}}"></span>
        </div>
        <span></span>
    </div>
</script>





@section scripts
{
    <script src="~/js/mysensors.js"></script>
    <script src="~/js/mynetsensors-dashboard-page.js"></script>
}

