@{
    ViewBag.Title = "Dashboard";
}

<br />
<div class="ui container">

    <h2>@ViewBag.Title</h2>
    <p>
        <a asp-controller="Dashboard" asp-action="Index">Dashboard</a> |
        <a asp-controller="Control" asp-action="Index">Control</a> |
        <a asp-controller="NodesEditor" asp-action="Index">Editor</a> |
        <a asp-controller="History" asp-action="List">History</a> |
        <a asp-controller="Tasks" asp-action="List">Tasks</a> |
        <a asp-controller="Node" asp-action="List">Settings</a>
    </p>
    <div class="ui divider"></div>

    <div class="ui four cards" id="panelsContainer" style="display: none;">
    </div>

</div>
<br />


<script id="panelTemplate" type="text/x-handlebars-template">
    <div class="ui card" id="panel{{this.PanelId}}" style="min-width: 250px; max-width: 250px;">

        <div class="ui attached block header">
            <div class="left floated" id="panelTitle{{this.PanelId}}">
                Panel {{this.PanelId}}
            </div>
            <div class="right floated">
                <img src="@Url.Content("~/images/nodes/activity.gif")" id="activity{{this.PanelId}}" class="ui right floated" style="display: none;" />
            </div>
        </div>


        <div id="uiContainer{{this.PanelId}}" class="content">
        </div>       
    </div>
</script>




<script id="labelTemplate" type="text/x-handlebars-template">
    <div id="label-{{this.Id}}">
        <div class="left floated" id="labelName-{{this.Id}}">{{this.Name}}</div>
        <div class="right floated" id="labelValue-{{this.Id}}">{{this.Value}}</div>
        <br/>
    </div>
</script>





@section scripts
{
    <script src="~/js/mysensors.js"></script>
    <script src="~/js/mynetsensors-dashboard-page.js"></script>
}

