@{
    ViewBag.Title = "Dashboard";
}

<br />
<div class="ui container">

    <h2>@ViewBag.Title</h2>
    <p>
        <a asp-controller="Dashboard" asp-action="Index">Dashboard</a> |
        <a asp-controller="Gateway" asp-action="Control">Control</a> |
        <a asp-controller="NodesEditor" asp-action="Index">Editor</a> |
        <a asp-controller="History" asp-action="List">History</a> |
        <a asp-controller="Tasks" asp-action="List">Tasks</a> |
        <a asp-controller="Node" asp-action="List">Settings</a>
    </p>
    <div class="ui divider"></div>

    <div class="ui stackable grid" id="panelsContainer" style="display: none;">
    </div>

</div>
<br />


<script id="panelTemplate" type="text/x-handlebars-template">
    <div class="column" id="panel{{this.PanelId}}" style="width:360px; max-width:360px">
        <div class="ui raised segments">

            <div class="ui secondary clearing segment">
                <b><span id="panelTitle{{this.PanelId}}">Panel {{this.PanelId}}</span></b>

                <div class="ui right floated basic disabled button nonbutton">
                    <i class="square outline icon" id="activity{{this.PanelId}}"></i>
                    @*<img src="@Url.Content("~/images/nodes/activity.gif")" id="activity{{this.PanelId}}" class="ui right floated" style="display: none;" />*@
                </div>
            </div>

            <div id="uiContainer{{this.PanelId}}" class="content">
            </div>
        </div>
    </div>
</script>




<script id="labelTemplate" type="text/x-handlebars-template">
    <div class="ui attached clearing segment" id="node{{this.Id}}">
        @*span needed to prevent marign for first and last labels*@
        <span></span>
        <span id="labelName-{{this.Id}}"></span>
        <div class="ui right floated basic disabled button nonbutton">
            <span class="ui blue basic label" id="labelValue-{{this.Id}}"></span>
        </div>
        <span></span>
    </div>
</script>


<script id="progressTemplate" type="text/x-handlebars-template">
    <div class="ui attached clearing segment" id="node{{this.Id}}">
        <span id="progressName-{{this.Id}}"></span>
        <div class="ui blue small progress" id="progressBar-{{this.Id}}">
            <div class="bar">
                <div class="progress"></div>
            </div>
        </div>
    </div>
</script>

<script id="buttonTemplate" type="text/x-handlebars-template">
    <div class="ui attached clearing segment" id="node{{this.Id}}">        
        <button class="ui right floated small button" id="button-{{this.Id}}">
            &nbsp <span id="buttonName-{{this.Id}}"></span> &nbsp 
        </button>
    </div>
</script>

<script id="toggleButtonTemplate" type="text/x-handlebars-template">
    <div class="ui attached clearing segment" id="node{{this.Id}}">
        <button class="ui right floated small toggle button" id="button-{{this.Id}}">
            &nbsp <span id="buttonName-{{this.Id}}"></span> &nbsp 
        </button>
    </div>
</script>

<script id="switchTemplate" type="text/x-handlebars-template">
    <div class="ui attached clearing segment" id="node{{this.Id}}">
        <span id="switchName-{{this.Id}}"></span>
        <div class="ui right floated basic  button nonbutton">
            <label class="switch">
                <input type="checkbox" class="switch-input" id="switch-{{this.Id}}">
                <span class="switch-label" data-on="On" data-off="Off"></span>
                <span class="switch-handle"></span>
            </label>
        </div>
    </div>
</script>

<script id="sliderTemplate" type="text/x-handlebars-template">
    <div class="ui attached clearing segment" id="node{{this.Id}}">
        <span id="sliderName-{{this.Id}}"></span>
        <br/>
        <div id="slider-{{this.Id}}"></div>
    </div>
</script>


<script id="rgbSlidersTemplate" type="text/x-handlebars-template">
    <div class="ui attached clearing segment" id="node{{this.Id}}">
        <span id="sliderName-{{this.Id}}"></span>
        <br />
        <div id="slider-{{this.Id}}-r" class="spacebottom"></div>
        <div id="slider-{{this.Id}}-g" class="spacebottom"></div>
        <div id="slider-{{this.Id}}-b"></div>
    </div>
</script>

<script id="rgbwSlidersTemplate" type="text/x-handlebars-template">
    <div class="ui attached clearing segment" id="node{{this.Id}}">
        <span id="sliderName-{{this.Id}}"></span>
        <br />
        <div id="slider-{{this.Id}}-r" class="spacebottom"></div>
        <div id="slider-{{this.Id}}-g" class="spacebottom"></div>
        <div id="slider-{{this.Id}}-b" class="spacebottom"></div>
        <div id="slider-{{this.Id}}-w"></div>
    </div>
</script>


@section scripts
{
    <script src="~/js/mysensors.js"></script>
    <script src="~/js/mynetsensors-dashboard-page.js"></script>
}

