@using MyNetSensors.LogicalNodes
@model IEnumerable<MyNetSensors.LogicalNodes.LogicalNodePanel>

@{
    ViewBag.Title = "Panels";
}

<br />
<div class="ui container">

    <h2>@ViewBag.Title</h2>

    <p>
        < <a asp-controller="Dashboard" asp-action="Index">Dashboard</a>
    </p>
    <div class="ui divider"></div>



    <div style="padding-left: 20px">
        <h4>
            @if (ViewBag.showMainPanel)
            {
                <a asp-action="Panel" asp-route-id="Main">Main Panel</a><br/>
                <div class="ui divider"></div>
            }

            @foreach (LogicalNodePanel panel in Model)
            {
                <a asp-action="Panel" asp-route-id="@panel.Id">@panel.Name</a><br/>
                <div class="ui divider"></div>
            }
        </h4>

    </div>

</div>