

<div id="main"/></div>

<button type="button" class="btn btn-default btn-lg" id="sendButton">
    OK
</button>




@section styles
{
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/css/litegraph.css">
    <link rel="stylesheet" type="text/css" href="~/css/litegraph-editor.css">
}




@section scripts
{
    <script type="text/javascript" src="~/js/litegraph/litegraph.js"></script>
    <script type="text/javascript" src="~/js/litegraph/litegraph-editor.js"></script>

    <script type="text/javascript" src="~/js/litegraph/nodes-list.js"></script>

    <script type="text/javascript" src="~/js/litegraph/nodes-engine.js"></script>
}

