@model MyNetSensors.WebController.ViewModels.User.LoginModel

@{
    ViewBag.Title = "Login";
}

<br />
<div class="ui container">

    <h2>@ViewBag.Title</h2>

    <div>
        <a asp-action="Register">Register</a>
    </div>
    <div class="ui divider"></div>


    <div class="ui two column stackable centered grid">

        <div class="column">
            <div class="ui raised segments">
                <div class="ui secondary segment">
                    <h4>@ViewBag.Title</h4>
                </div>

                <form asp-action="Login" asp-anti-forgery="true" class="ui form">
                    <div class="validation" asp-validation-summary="ValidationSummary.ModelOnly" />

                    <div class="ui attached segment">
                        <div class="field">
                          @*  <label asp-for="Name"></label>*@
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" asp-for="Name" placeholder="Login" />
                            </div>
                            <span asp-validation-for="Name" />
                        </div>
                        <div class="field">
                        @*    <label asp-for="Password"></label>*@
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" asp-for="Password" placeholder="Password" />
                            </div>
                            <span asp-validation-for="Password" />
                        </div>
                        <div class="validation" asp-validation-summary="ValidationSummary.All"></div>

                    </div>

                    <div class="ui center aligned attached segment">
                        <div class="ui buttons">
                            @* <a asp-action="Register" class="ui button">Register</a>*@
                            <input type="submit" value="Login" class="ui button primary" />
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
