@model MyNodes.WebController.ViewModels.User.RegisterModel

@{
    ViewBag.Title = "Register";
}

<br />
<div class="ui container">

    <h2>@ViewBag.Title</h2>

    <div>
        <a asp-action="Login">Login</a>
    </div>
    <div class="ui divider"></div>


    <div class="ui two column stackable centered grid">

        <div class="column">
            <div class="ui raised segments">
                <div class="ui secondary segment">
                    <h4>@ViewBag.Title</h4>
                </div>

                <form asp-action="Register" asp-anti-forgery="true" class="ui form">
                    <div class="validation" asp-validation-summary="ValidationSummary.ModelOnly" />

                    <div class="ui attached segment">
                        <div class="field">
                            <label>Login</label>
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" asp-for="Name"  />
                            </div>
                            <span asp-validation-for="Name" />
                        </div>
                        <div class="field">
                            <label>Email</label>
                            <div class="ui left icon input">
                                <i class="mail icon"></i>
                                <input type="text" asp-for="Email" />
                            </div>
                            <span asp-validation-for="Email" />
                        </div>


                        <div class="field">
                            <label>Password</label>
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" asp-for="Password" />
                            </div>
                        </div>
                        <div class="field">
                            <label>Confirm Password</label>
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" asp-for="ConfirmPassword"  />
                            </div>
                        </div>

                        <span asp-validation-for="Password" />
                        <span asp-validation-for="ConfirmPassword" />
                        <div class="validation" asp-validation-summary="ValidationSummary.All"></div>

                    </div>

                    <div class="ui center aligned attached segment">
                        <div class="ui buttons">
                            <a asp-action="Login" class="ui button">Cancel</a>
                            <input type="submit" value="Register" class="ui button primary" />
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
