@model MyNetSensors.WebController.ViewModels.User.RegisterModel

<h2>Register</h2>

<form asp-action="Register" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ValidationSummary.ModelOnly" />
    <div>
        <div>
            <label asp-for="Name"></label><br />
            <input type="text" asp-for="Name" />
            <span asp-validation-for="Name" />
        </div>
        <div>
            <label asp-for="Email"></label><br/>
            <input type="text" asp-for="Email"/>
            <span asp-validation-for="Email" />
        </div>
        <div>
            <label asp-for="Password"></label><br/>
            <input asp-for="Password"/>
            <span asp-validation-for="Password" />
        </div>
        <div>
            <label asp-for="ConfirmPassword"></label><br/>
            <input asp-for="ConfirmPassword"/>
            <span asp-validation-for="ConfirmPassword" />
        </div>
        <div>
            <input type="submit" value="Регистрация"/>
        </div>
    </div>
</form>