@{
    ViewBag.Title = "Control Nodes";
}

<br />
<div class="ui container">

    <h2>@ViewBag.Title</h2>
    <p>
        <a asp-controller="NodesEditor" asp-action="Index">Editor</a> | 
        <a asp-controller="History" asp-action="List">History</a> |
        <a asp-controller="Tasks" asp-action="List">Tasks</a> |
        <a asp-controller="Node" asp-action="List">Settings</a>
    </p>
    <div class="ui divider"></div>

    <div class="ui four cards" id="nodesContainer" style="display: none;">
    </div>

</div>
<br/>


<script id="nodeTemplate" type="text/x-handlebars-template">
    <div class="ui card" id="nodePanel{{Id}}" style="min-width: 250px; max-width: 250px;">

        <div class="ui attached block header">
            <div class="left floated" id="nodeTitle{{Id}}">
                Node {{Id}}
            </div>
            <div class="right floated">
                <img src="@Url.Content("~/images/nodes/activity.gif")" id="activity{{Id}}" class="ui right floated" style="display: none;" />
            </div>
        </div>

        <div class="content">
            {{#if name}} {{name}} <br /> {{/if}}

            <div id="nodeBody{{Id}}"></div>
        </div>


        <div id="sensorsContainer{{Id}}" class="content">
        </div>

        <div class="ui bottom attached content" id="footer{{Id}}">
            <div class="left floated">
                {{#if batteryLevel}} Battery: <span id="nodeBattery{{Id}}"> {{batteryLevel}} </span>{{/if}}
            </div>
            <div class="right floated">
                <div class="ui dropdown">
                    <i class="sidebar icon"></i>
                    <div class="menu" id="nodeMenu{{Id}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>




<script id="sensorTemplate" type="text/x-handlebars-template">
    <div class="" id="sensorPanel{{sensor-id this}}">

        <div class="left floated">
            <span id="sensorTitle{{sensor-id this}}">{{sensor-title this}}</span><br />

        </div>
        <div class="right floated">
            <div id="dataPanel{{sensor-id this}}">
            </div>
        </div>


        <br />
        <br />
    </div>
</script>



<script id="toggleTemplate" type="text/x-handlebars-template">
    <label class="switch">
        <input type="checkbox" class="switch-input" name="toggle-{{sensor-id this}}">
        <span class="switch-label" data-on="On" data-off="Off"></span>
        <span class="switch-handle"></span>
    </label>

</script>

<script id="sliderTemplate" type="text/x-handlebars-template">
    <div id="slider" name="slider-{{sensor-id this}}"></div>
</script>

<script id="rgbSlidersTemplate" type="text/x-handlebars-template">
    <div id="slider" name="slider-{{sensor-id this}}-r"></div>
    <div id="slider" name="slider-{{sensor-id this}}-g"></div>
    <div id="slider" name="slider-{{sensor-id this}}-b"></div>

</script>

<script id="rgbwSlidersTemplate" type="text/x-handlebars-template">
    <div id="slider" name="slider-{{sensor-id this}}-r"></div>
    <div id="slider" name="slider-{{sensor-id this}}-g"></div>
    <div id="slider" name="slider-{{sensor-id this}}-b"></div>
    <div id="slider" name="slider-{{sensor-id this}}-w"></div>
</script>

<script id="irSendTemplate" type="text/x-handlebars-template">
    <br />
    <div class="input-group">
        <input type="text" class="form-control" placeholder="IR code..." name="textbox-{{sensor-id this}}">
        <span class="input-group-btn">
            <button class="ui button" type="button" name="button-{{sensor-id this}}">Send</button>
        </span>
    </div>
</script>

<script id="nodeMenuTemplate" type="text/x-handlebars-template">
    <a class="item" href="../Node/Settings/{{Id}}">Settings</a>
    <div class="divider"></div>

    <div class="item">
        <i class="dropdown icon"></i>
        Hisotry
        <div class="menu" id="dropdownMenuHistory{{sensor-id this}}">
            {{#each sensors}}
            <a class="item" href="../History/Chart/{{this.nodeId}}/{{this.sensorId}}">{{sensor-title this}} History</a>
            {{/each}}
        </div>
    </div>
    <div class="divider"></div>

    <div class="item">
        <i class="dropdown icon"></i>
        Tasks
        <div class="menu" id="dropdownMenuTasks{{sensor-id this}}">
            {{#each sensors}}
            <a class="item" href="../Tasks/List/{{this.nodeId}}/{{this.sensorId}}">{{sensor-title this}} Tasks</a>
            {{/each}}
        </div>
    </div>


</script>



@section scripts
{
    <script src="~/js/mysensors.js"></script>
    <script src="~/js/mynetsensors-control-page.js"></script>
}

