<br />

<div class="panel panel-default">
    <div class="panel-heading">
        Messages log
        <button type="button" class="btn btn-default pull-right" id="clear-log">
            <span class="glyphicon glyphicon-erase" aria-hidden="true"></span> 
            Clear Log
        </button><br><br>


    </div>
    <div class="panel-body">
        <span id="log"></span>
    </div>

</div>


@section scripts
        {
    @Scripts.Render("~/bundles/signalr")
    <script src="~/signalr/hubs"></script>

    <script>
        $(function () {
            $('#clear-log').on('click', function () {
                $.get('@Url.Action( "ClearLog", "Gateway" )');
                
            });


            var gatewayHub = $.connection.gatewayHub;

            gatewayHub.client.onMessageRecievedEvent = function (message) {
                $('#log').append(message + "<br/>");
            };

            gatewayHub.client.onMessageSendEvent = function (message) {
                $('#log').append(message + "<br/>");
            };

            gatewayHub.client.returnLog = function (log) {
                $('#log').html(log);
            };

            gatewayHub.client.onClearMessages = function (log) {
                $('#log').html(null);
            };

            $.connection.hub.start().done(function () {
                $.get('@Url.Action( "GetLog", "Gateway" )');
            });

        });
    </script>
}


