<br />

<div class="panel panel-default">
    <div class="panel-heading">
        Gateway Messages
        <button type="button" class="btn btn-default pull-right" id="clear-log">
            <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
            Clear Messages
        </button><br><br>


    </div>
    <div class="panel-body" style="overflow-y: scroll;" id="log">
    </div>

</div>


@section scripts
        {


    <script>
        $(function () {
            getMessages();

            //autoscroll
            $(function () {
                var window_height = $(window).height(),
                content_height = window_height - 280;
                $('#log').height(content_height);
            });

            $(window).resize(function () {
                var window_height = $(window).height(),
                content_height = window_height - 280;
                $('#log').height(content_height);
            });
        });

        function getMessages() {
            $.ajax({
                url: "/Gateway/GetMessages/",
                type: "POST",
                success: function (messages) {
                    onReturnMessages(messages);
                }
            });
        }

        function onReturnMessages(messages) {
            $('#log').html(messages);
            $('#log').animate({ scrollTop: $('#log').get(0).scrollHeight }, 0);
        };

    </script>
}


