<br />

<div class="panel panel-default">
    <div class="panel-heading">
        Gateway Messages
        <button type="button" class="btn btn-default pull-right" id="clear-log">
            <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
            Clear Messages
        </button><br><br>


    </div>
    <div class="panel-body" style="overflow-y: scroll;" id="log">
    </div>

</div>


@section scripts
        {
    @Scripts.Render("~/bundles/signalr")
    <script src="~/signalr/hubs"></script>

    <script>
        $(function () {
            var clientsHub = $.connection.clientsHub;

            $('#clear-log').on('click', function () {
                clientsHub.server.clearLog();
            });

            clientsHub.client.onMessageRecievedEvent = function (message) {
                $('#log').append(message + "<br/>");
                $('#log').animate({ scrollTop: $('#log').get(0).scrollHeight }, 200);
            };

            clientsHub.client.onMessageSendEvent = function (message) {
                $('#log').append(message + "<br/>");
                $('#log').animate({ scrollTop: $('#log').get(0).scrollHeight }, 200);
            };

            clientsHub.client.returnLog = function (log) {
                $('#log').html(log);
                $('#log').animate({ scrollTop: $('#log').get(0).scrollHeight }, 200);
            };

            clientsHub.client.onClearMessages = function (log) {
                $('#log').html(null);
                $('#log').animate({ scrollTop: $('#log').get(0).scrollHeight }, 200);
            };

            $.connection.hub.start().done(function () {
                clientsHub.server.getLog();
            });

            $(function () {
                var window_height = $(window).height(),
                content_height = window_height - 280;
                $('#log').height(content_height);
            });

            $(window).resize(function () {
                var window_height = $(window).height(),
                content_height = window_height - 280;
                $('#log').height(content_height);
            });
        });


    </script>
}


