

<h2>Nodes View</h2>

<div class="row" id="nodesContainer">
</div>

<div class="col-xs-6 col-sm-4 col-md-3" id="nodeTemplate" style="display: none;">    
    <div class="panel panel-default" >
        <div class="panel-heading" id="nodeTitle">
            Node title
        </div>
        <div class="panel-body">
            <span id="nodeBody">Node body</span>
            <br />
            <ul class="list-group" id="sensorsContainer"></ul>
        </div>
    </div>
</div>

@section scripts
        {
    @Scripts.Render("~/bundles/signalr")
    <script src="~/signalr/hubs"></script>

    @Scripts.Render("~/bundles/moment")

    <script>
        $(function () {
            var gatewayHub = $.connection.gatewayHub;

            gatewayHub.client.returnNodes = function (nodes) {
                $('#nodesContainer').html(null);

                for (var i = 0; i < nodes.length; i++) {
                    createOrUpdateNode(nodes[i]);
                }
            };

            gatewayHub.client.onNewNodeEvent = function (node) {
                createOrUpdateNode(node);
            };

            gatewayHub.client.onNodeUpdatedEvent = function (node) {
                createOrUpdateNode(node);
            };

            gatewayHub.client.onNodeLastSeenUpdatedEvent = function (node) {
                updateLastSeen(node);
            };

            gatewayHub.client.onNodeBatteryUpdatedEvent = function (node) {
                updateBattery(node);
            };

            $.connection.hub.start().done(function () {
                $.get('@Url.Action( "GetNodes", "Gateway" )');

            });

        });

        function createOrUpdateNode(node) {
            var id = node.nodeId;

            if ($('#nodePanel' + id).length == 0) {
                //create new
                $('#nodeTemplate')
                    .clone()
                    .attr("id", "nodePanel" + id)
                    .css('display', 'block')
                    .appendTo('#nodesContainer');

                $('#nodePanel' + id)
                    .find('#nodeTitle')
                    .attr("id", "nodeTitle" + id)
                    .html("Node id: " + id);

                $('#nodePanel' + id)
                    .find('#nodeBody')
                    .attr("id", "nodeBody" + id);

                $('#nodePanel' + id)
                    .find('#sensorsContainer')
                    .attr("id", "sensorsContainer" + id);
            }

            //update body
            $('#nodeBody' + id)
                .html(null);

            if (node.name != null)
                $('#nodeBody' + id)
                    .append("Name: " + node.name + "<br/>");

            if (node.version != null)
                $('#nodeBody' + id)
                    .append("Version: " + node.version + "<br/>");

            $('#nodeBody' + id)
                .append("Reg.: " + moment(node.registered).format("DD/MM/YYYY HH:mm:ss") + "<br/>")
                .append("<div id='nodeLastSeen" + id + "'>"
                    + "Seen: " + moment(node.lastSeen).format("DD/MM/YYYY HH:mm:ss")
                    + "</div>");

            if (node.isRepeatingNode == null)
                $('#nodeBody' + id)
                    .append("Repeating: Unknown <br/>");
            else if (node.isRepeatingNode)
                $('#nodeBody' + id)
                    .append("Repeating: Yes <br/>");
            else if (!node.isRepeatingNode)
                $('#nodeBody' + id)
                    .append("Repeating: No <br/>");

            if (node.batteryLevel != null)
                $('#nodeBody' + id)
                    .append("<div id='nodeBattery" + id + "'>"
                        + "Battery: " + node.batteryLevel
                        + "</div>");

            for (var i = 0; i < node.sensors.length; i++) {
                createOrUpdateSensor(node.sensors[i]);
            }
        }


        function updateLastSeen(node) {
            var id = node.nodeId;
            $('#nodeLastSeen' + id)
                .html("Seen: " + moment(node.lastSeen).format("DD/MM/YYYY HH:mm:ss"));
        }

        function updateBattery(node) {
            var id = node.nodeId;
            $('#nodeBattery' + id)
                .html("Battery: " + node.batteryLevel);
        }

        function createOrUpdateSensor(sensor) {
            var id = sensor.ownerNodeId + "-" + sensor.sensorId;

            if ($('#sensorPanel' + id).length == 0) {
                //create new
                $('#sensorsContainer' + sensor.ownerNodeId)
                    .append("<li class='list-group-item' id='sensorPanel" + id + "'>"
                         + "</li>");
            }

            //update body
            $('#sensorPanel' + id)
                .html(null);

            $('#sensorPanel' + id)
                .append("Sensor Id: " + sensor.sensorId + "<br/>");

            var sensorType = sensor.sensorType;
            if (sensorType == null) sensorType = "Unknown";
            $('#sensorPanel' + id)
                .append("Type: " + sensorType + "<br/>");
            console.log(sensor);
            if (sensor.description != null)
                $('#sensorPanel' + id)
                    .append("Description: " + sensor.description + "<br/>");
        }
    </script>
}


