

<h2>Nodes View</h2>



<div id="nodesContainer">

</div>

<div class="panel panel-default" id="nodeTemplate" style="display: none;">
    <div class="panel-heading" id="nodeTitle">
        Node title
    </div>
    <div class="panel-body">
        <span id="nodeBody">Node body</span>
    </div>
</div>


@section scripts
        {
    @Scripts.Render("~/bundles/signalr")
    <script src="~/signalr/hubs"></script>

    @Scripts.Render("~/bundles/moment")

    <script>
        $(function () {
            var gatewayHub = $.connection.gatewayHub;

            gatewayHub.client.returnNodes = function (nodes) {
                $('#nodesContainer').html(null);

                for (var i = 0; i < nodes.length; i++) {
                    createOrUpdateNode(nodes[i]);
                }
            };

            gatewayHub.client.onNewNodeEvent = function (node) {
                createOrUpdateNode(node);
            };

            gatewayHub.client.onNodeUpdatedEvent = function (node) {
                createOrUpdateNode(node);
            };

            gatewayHub.client.onNodeLastSeenUpdatedEvent = function (node) {
                updateLastSeen(node);
            };

            $.connection.hub.start().done(function () {
                $.get('@Url.Action( "GetNodes", "Gateway" )');

            });

        });

        function createOrUpdateNode(node) {
            var id = node.nodeId;

            if ($('#nodePanel' + id).length == 0) {
                //create new
                $('#nodeTemplate')
                    .clone()
                    .attr("id", "nodePanel" + id)
                    .css('display', 'block')
                    .appendTo('#nodesContainer');

                $('#nodePanel' + id)
                    .find('#nodeTitle')
                    .attr("id", "nodeTitle" + id)
                    .html("Node id: " + id);

                $('#nodePanel' + id)
                    .find('#nodeBody')
                    .attr("id", "nodeBody" + id);
            }

            //update body
            $('#nodeBody' + id)
                .html(null);

            if (node.name != null)
                $('#nodeBody' + id)
                    .append("Name: " + node.name + "<br/>");

            if (node.version != null)
                $('#nodeBody' + id)
                    .append("Version: " + node.version + "<br/>");

            $('#nodeBody' + id)
                .append("Registered: " + moment(node.registered).format("DD/MM/YYYY HH:mm:ss") + "<br/>")
                .append("<div id='nodeLastSeen" + id + "'>"
                + "Last seen: " + moment(node.lastSeen).format("DD/MM/YYYY HH:mm:ss")
                + "</div><br/>");
        }


        function updateLastSeen(node) {
            var id = node.nodeId;
            $('#nodeLastSeen' + id)
                .html("Last seen: " + moment(node.lastSeen).format("DD/MM/YYYY HH:mm:ss"));
        }
    </script>
}


