

@{
    ViewBag.Title = "Observe Nodes";
}

<h2>Observe Nodes</h2>

<div class="row" id="nodesContainer" style="display: none;">
</div>

<script id="nodeTemplate" type="text/x-handlebars-template">
    <div class="col-xs-6 col-sm-4 col-md-3" id="nodePanel{{nodeId}}" style="min-width: 290px; max-width: 500px">
        <div class="panel panel-default">
            <div class="panel-heading" id="nodeTitle{{nodeId}}">
                Node id: {{nodeId}}
            </div>
            <div class="panel-body">
                <div id="nodeBody{{nodeId}}">
                    {{#if name}} Name: {{name}} <br /> {{/if}}
                    {{#if version}} Version: {{version}} <br />{{/if}}
                    {{#if registered}} Registered: {{fullDate registered}} <br />{{/if}}
                    {{#if lastSeen}} Last seen: <span id="nodeLastSeen{{nodeId}}"> {{fullDate lastSeen}} </span><br />{{/if}}
                    Repeating: {{yes-no isRepeatingNode}}<br />
                    {{#if batteryLevel}} Battery: <span id="nodeBattery{{nodeId}}"> {{batteryLevel}} </span><br />{{/if}}
                </div>
                <br />
                <ul class="list-group" id="sensorsContainer{{nodeId}}"></ul>
            </div>
        </div>
    </div>
</script>

<script id="sensorTemplate" type="text/x-handlebars-template">
    <li class="list-group-item" id="sensorPanel{{sensor-id this}}">
        Sensor Id: {{sensorId}} <br />        
        Type: <span id="sensorType{{sensor-id this}}"> {{sensor-type this}} </span><br />
        {{#if description}} Description: {{description}} <br />{{/if}}
        <br />
    </li>
</script>

<script id="dataTemplate" type="text/x-handlebars-template">
    <div id="dataPanel{{sensordata-id this}}">

    </div>
</script>

@section scripts
{

<script src="~/js/mysensors.js"></script>
<script src="~/js/mynetsensors-observe-page.js"></script>
}


