@using MyNodes.WebController.Code
@model MyNodes.WebController.Code.ConsoleConfig

@{
    ViewBag.Title = "Web Server Console";
}

<br />
<div class="ui container">

    <h2>@ViewBag.Title</h2>

    <p>
        < <a asp-action="Index">Config</a>
    </p>
    <div class="ui divider"></div>

    <div class="ui two column stackable centered grid">

        <div class="column">
            <div class="ui raised segments">
                <div class="ui secondary segment">
                    <h4>@ViewBag.Title</h4>
                </div>

                <form asp-action="Console" asp-anti-forgery="true" class="ui form">
                    <div class="ui basic segment">
                        Select which log messages to show in the console:
                    </div>

                    <div class="ui basic segment">

                        <div class="field">
                            <div class="ui toggle checkbox">
                                <input asp-for="ShowAllErrors"/>
                                <label>All Errors</label>
                            </div>
                        </div>

                        <div class="field">
                            <div class="ui toggle checkbox">
                                <input asp-for="ShowSystemState"/>
                                <label>System</label>
                            </div>
                        </div>

                        <div class="field">
                            <div class="ui toggle checkbox">
                                <input asp-for="ShowGatewayState"/>
                                <label>Gateway State</label>
                            </div>
                        </div>

                        <div class="field">
                            <div class="ui toggle checkbox">
                                <input asp-for="ShowGatewayMessages"/>
                                <label>Gateway Messages</label>
                            </div>
                        </div>

                        <div class="field">
                            <div class="ui toggle checkbox">
                                <input asp-for="ShowGatewayDecodedMessages"/>
                                <label>Gateway Decoded Messages</label>
                            </div>
                        </div>

                        <div class="field">
                            <div class="ui toggle checkbox">
                                <input asp-for="ShowDataBaseState"/>
                                <label>DataBase</label>
                            </div>
                        </div>

                        <div class="field">
                            <div class="ui toggle checkbox">
                                <input asp-for="ShowNodesEngineState"/>
                                <label>Nodes Engine</label>
                            </div>
                        </div>

                        <div class="field">
                            <div class="ui toggle checkbox">
                                <input asp-for="ShowNodesEngineNodes"/>
                                <label>Nodes</label>
                            </div>
                        </div>
                        <div class="validation" asp-validation-summary="ValidationSummary.All"></div>
                    </div>

                    <div class="ui basic segment">
                        If you have many nodes and they send a lot of messages,
                        then disable "Nodes" setting to increase system performance.
                    </div>

                    <div class="ui center aligned attached segment">
                        <div class="ui buttons">
                            <a asp-action="Index" class="ui button">Cancel</a>
                            <input type="submit" value="Save" class="ui button primary"/>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>










