@model MyNodes.WebController.ViewModels.Config.EthernetGatewayViewModel

@{
    ViewBag.Title = "Ethernet Gateway";
}

<br />
<div class="ui container">

    <h2>@ViewBag.Title</h2>

    <p>
        < <a asp-action="Index">Config</a>
    </p>
    <div class="ui divider"></div>

    <div class="ui two column stackable centered grid">

        <div class="column">
            <div class="ui raised segments">
                <div class="ui secondary segment">
                    <h4>@ViewBag.Title</h4>
                </div>

                <form asp-action="EthernetGateway" asp-anti-forgery="true" class="ui form">
                    <div class="ui attached segment">


                        <h5>Enter ethernet gateway address and port</h5>
                        <div class="fields">
                            <div class="twelve wide field">
                                <label asp-for="Ip"></label>
                                <input asp-for="Ip">
                            </div>
                            <div class="four wide field">
                                <label asp-for="Port"></label>
                                <input asp-for="Port">
                            </div>
                            <div class="validation" asp-validation-summary="ValidationSummary.All"></div>

                        </div>
                        </div>

                    <div class="ui center aligned attached segment">
                        <div class="ui buttons">
                            <a asp-action="Index" class="ui button">Cancel</a>
                            <input type="submit" value="Select" class="ui button primary" />
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>


<br />
<br />
<br />








