@{
    ViewBag.Title = "Gateway Config";
}

<br />
<div class="ui container">

    <h2>@ViewBag.Title</h2>

    <div>
        @*<a asp-controller="Config" asp-action="Gateway">Gateway</a> |
        <a asp-controller="Config" asp-action="SerialPort">Serial Port</a>*@
        <br/>
    </div>
    <div class="ui divider"></div>

    <div class="ui two column stackable grid" id="main-content" style="display: none;">
        <div class="column">
            <div class="ui raised segments">
                <div class="ui secondary clearing segment">
                    <b>Gateway</b>
                </div>
                <div class="ui attached segment" id="gateway-hardware-online">
                    <i class="big green toggle on icon"></i>
                    Gateway hardware is online
                </div>
                <div class="ui attached segment" id="gateway-hardware-offline">
                    <i class="big red toggle off icon"></i>
                    Gateway hardware is offline
                </div>

                <div class="ui attached clearing segment">
                    @*span needed to prevent marign for first and last labels*@
                    <span></span>
                    <div class="ui blue basic label" id="nodes-registered">-</div>
                    Nodes registered
                    <br/>
                    <br/>
                    <div class="ui blue basic label" id="sensors-registered">-</div>
                    Sensors registered
                    <span></span>

                </div>
                <div class="ui attached center aligned segment">
                    <a asp-controller="Config" asp-action="SerialPort" class="ui button">Select serial port</a>
                    <button class="ui button" id="dropNodes">Delete all nodes</button>
                </div>
            </div>
        </div>


        <div class="column">
            <div class="ui raised segments">
                <div class="ui secondary clearing segment">
                    <b>Tasks</b>
                </div>
                <div class="ui attached center aligned segment">
                    <button type="button" class="ui button" id="disableTasks">Disable all tasks</button>
                    <button class="ui button" id="dropTasks">Delete all tasks</button>
                </div>
            </div>
        </div>


        @*<div class="column">
            <div class="ui raised segments">
                <div class="ui secondary clearing segment">
                    <b>Web server</b>
                </div>
                <div class="ui attached clearing segment">
                    <div class="ui blue basic label" id="users-online">-</div>
                    Clients connected
                </div>
            </div>
        </div>*@

    </div>


    <div class="ui modal" id="confirm-delete-nodes-dialog">
        <div class="header">
            Delete all nodes
        </div>
        <div class="image content">
            <div class="ui image">
                @*<i class="massive settings icon"></i>*@
                <i class="red massive warning sign icon"></i>
            </div>
            <div class="description">
                Deleting nodes from the database will release their ID.
                After that, you will need to turn on all
                previously registered nodes to reinitialize the database.
                If this is not done, any new node will take the ID
                of the other device, and there is a conflict! <br/><br/>
                If there is a conflict, you should:<br />
                1. Turn off all nodes.<br />
                2. Delete all nodes from the database.<br />
                3. Erase EEPROM on conflicty nodes and reflash again firmwares.<br />
                4. Turn on all non-conflicting nodes.<br />
                5. Turn on conflicty nodes. <br/><br/>
                Again. After deleting nodes from the database,
                do not run the new nodes (which has not received the ID previously)
                before turn on all known nodes!
            </div>
        </div>
        <div class="actions">
            <div class="ui cancel button">Cancel</div>
            <div class="ui red approve button">Delete</div>
        </div>
    </div>



    <div class="ui modal" id="confirm-delete-tasks-dialog">
        <div class="header">Delete all nodes tasks</div>
        <div class="image content">
            <div class="ui image">
                <i class="massive settings icon"></i>
            </div>
            <div class="description">
                Are you sure you want to delete all nodes tasks?
            </div>
        </div>
        <div class="actions">
            <div class="ui cancel button">Cancel</div>
            <div class="ui red approve button">Delete</div>
        </div>
    </div>

</div>

@section scripts
{
    <script src="~/js/mysensors.js"></script>
    <script src="~/js/mynetsensors-settings-page.js"></script>
}
