@using MyNodes.WebController.Code
@model MyNodes.WebController.Code.LogsConfig

@{
    ViewBag.Title = "Web Server Logs";
}

<br />
<div class="ui container">

    <h2>@ViewBag.Title</h2>

    <p>
        < <a asp-action="Index">Config</a>
    </p>
    <div class="ui divider"></div>

    <div class="ui two column stackable centered grid">

        <div class="column">
            <div class="ui raised segments">
                <div class="ui secondary segment">
                    <h4>@ViewBag.Title</h4>
                </div>

                <form asp-action="Logs" asp-anti-forgery="true" class="ui form">
                    <div class="ui basic segment">
                        Select which log messages to store for session:
                    </div>

                    <div class="ui basic segment">

                        <div class="field">
                            <div class="ui toggle checkbox">
                                <input asp-for="StoreSystemState" />
                                <label>System</label>
                            </div>
                        </div>

                        <div class="field">
                            <div class="ui toggle checkbox">
                                <input asp-for="StoreGatewayState" />
                                <label>Gateway State</label>
                            </div>
                        </div>

                        <div class="field">
                            <div class="ui toggle checkbox">
                                <input asp-for="StoreGatewayMessages" />
                                <label>Gateway Messages</label>
                            </div>
                        </div>

                        <div class="field">
                            <div class="ui toggle checkbox">
                                <input asp-for="StoreGatewayDecodedMessages" />
                                <label>Gateway Decoded Messages</label>
                            </div>
                        </div>

                        <div class="field">
                            <div class="ui toggle checkbox">
                                <input asp-for="StoreDataBaseState" />
                                <label>DataBase</label>
                            </div>
                        </div>

                        <div class="field">
                            <div class="ui toggle checkbox">
                                <input asp-for="StoreNodesEngineState" />
                                <label>Nodes Engine</label>
                            </div>
                        </div>

                        <div class="field">
                            <div class="ui toggle checkbox">
                                <input asp-for="StoreNodesEngineNodes"/>
                                <label>Nodes</label>
                            </div>
                        </div>

                        <div class="validation" asp-validation-summary="ValidationSummary.All"></div>
                    </div>

                    <div class="ui basic segment">
                        Specify the maximum number of messages:
                    </div>

                    <div class="ui basic segment">

                        <div class="field">
                            System
                            <input asp-for="MaxSystemState"/>
                        </div>

                        <div class="field">
                            Gateway State
                            <input asp-for="MaxGatewayState"/>
                        </div>

                        <div class="field">
                            Gateway Messages
                            <input asp-for="MaxGatewayMessages"/>
                        </div>

                        <div class="field">
                            Gateway Decoded Messages
                            <input asp-for="MaxGatewayDecodedMessages" />
                        </div>

                        <div class="field">
                            DataBase
                            <input asp-for="MaxDataBaseState" />
                        </div>

                        <div class="field">
                            Nodes Engine
                            <input asp-for="MaxNodesEngineState" />
                        </div>

                        <div class="field">
                            Nodes
                            <input asp-for="MaxNodesEngineNodes" />
                        </div>

                    </div>

                    <div class="ui center aligned attached segment">
                        <div class="ui buttons">
                            <a asp-action="Index" class="ui button">Cancel</a>
                            <input type="submit" value="Save" class="ui button primary" />
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>


<br />
<br />
<br/>





