@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

<br />
<div class="ui container">

    <h2>@ViewData["Title"].</h2>

<form asp-controller="Manage" asp-action="ChangePassword" method="post" class="ui form" role="form">
    <h4>Change Password Form</h4>
    <div class="ui divider"></div>
    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
    <div class="fields">
        <label asp-for="OldPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="OldPassword" class="form-control" />
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="fields">
        <label asp-for="NewPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="fields">
        <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="fields">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="ui button primary">Change password</button>
        </div>
    </div>
</form>

    </div>

@section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }
