@model VerifyPhoneNumberViewModel
@{
    ViewData["Title"] = "Verify Phone Number";
}

<br />
<div class="ui container">

    <h2>@ViewData["Title"].</h2>

    <form asp-controller="Manage" asp-action="VerifyPhoneNumber" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="ui form" role="form">
        <input asp-for="PhoneNumber" type="hidden" />
        <h4>Add a phone number.</h4>
        <h5>@ViewData["Status"]</h5>
        <div class="ui divider"></div>
        <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
        <div class="fields">
            <label asp-for="Code" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
        </div>
        <div class="fields">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="ui button primary">Submit</button>
            </div>
        </div>
    </form>

</div>

@section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }
