@{
    ViewBag.Title = "Hardware Nodes";
}

<br />
<div class="ui container">

    <h2>@ViewBag.Title</h2>

    <div>
        <a asp-action="Settings">Settings</a>
    </div>
    <div class="ui divider"></div>


    <div class="ui four column grid" id="nodesContainer">
    </div>


</div>
<br />

<script id="nodeTemplate" type="text/x-handlebars-template">
    <div class="column" id="nodePanel{{Id}}" style="min-width: 290px;">
        <h4 class="ui top attached inverted header" id="nodeTitle{{Id}}">
            @*<h4 class="ui top attached block header id="nodeTitle{{Id}}">*@
            <span class="ui floated left">
                Node id: {{Id}}
            </span>
        </h4>
        <div class="ui attached segment">
            <div id="nodeBody{{Id}}">
                {{#if name}} Name: {{name}} <br /> {{/if}}
                {{#if version}} Version: {{version}} <br />{{/if}}
                {{#if registered}} Registered: {{fullDate registered}} <br />{{/if}}
                {{#if lastSeen}} Last seen: <span id="nodeLastSeen{{Id}}"> {{fullDate lastSeen}} </span><br />{{/if}}
                Repeating: {{yes-no isRepeatingNode}}<br />
                {{#if batteryLevel}} Battery: <span id="nodeBattery{{Id}}"> {{batteryLevel}} </span><br />{{/if}}
            </div>
            <br />
            <div class="ui segments" id="sensorsContainer{{Id}}"></div>
        </div>
    </div>
</script>

<script id="sensorTemplate" type="text/x-handlebars-template">
    <div class="ui segment" id="sensorPanel{{sensor-id this}}">
        Sensor Id: {{sensorId}} <br />
        Type: <span id="sensorType{{sensor-id this}}"> {{sensor-type this}} </span><br />
        {{#if description}} Description: {{description}} <br />{{/if}}
        Data Type: <span id="dataType{{sensor-id this}}"> </span><br />
        State: <span id="state{{sensor-id this}}"> </span><br />
    </div>
</script>



@section scripts
{

    <script src="~/js/mysensors.js"></script>
    <script src="~/js/mynetsensors-mysensors-page.js"></script>
}


